page-new-occurrence {
    .image-compare-block {
        overflow: hidden;

        .image-item {
            float: left;
            width: 50%;
            height: 200px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-color: #000;
            position: relative;

            .image-origin {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                text-align: center;

                .origin-label {
                    display: inline-block;
                    padding: 3px 10px;
                    background-color: #000;
                    color: #fff;
                    border-top: 1px solid #fff;
                    border-left: 1px solid #fff;
                    border-right: 1px solid #fff;
                    font-weight: bold;
                }
            }
        }
    }

    .occurrence-actions {
         overflow: hidden;

        .occurrence-action {
            float: left;
            width: 50%;
        }
    }
}
